<h1 mat-dialog-title>Create Mapping rule</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Parameter</mat-label>
      <mat-select [formControl]="paramControl">
        <mat-option *ngFor="let param of params" [value]="param">
          {{param.paramName + ' ' + param.code}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field style="width: 100%">
      <mat-label>Rule expression</mat-label>
      <input matInput required [(ngModel)]="rule.regExp" #regExp="ngModel">
      <mat-error *ngIf="regExp.invalid">Field is required</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field style="width: 100%">
      <mat-label>Priority</mat-label>
      <input matInput type="number" required [(ngModel)]="rule.priority" #priority="ngModel">
      <mat-error *ngIf="priority.invalid">Field is required</mat-error>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [disabled]="regExp.invalid || priority.invalid"
          (click)="onAddClick()">Add
  </button>
</div>
