<h1 mat-dialog-title>Create Mapping rule</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field style="width: 100%">
      <mat-label>Parameter</mat-label>
      <input matInput required [(ngModel)]="rule.paramName" #paramName="ngModel">
      <mat-error *ngIf="paramName.invalid">Field is required</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field style="width: 100%">
      <mat-label>Regular expression</mat-label>
      <input matInput required [(ngModel)]="rule.regExp" #regExp="ngModel">
      <mat-error *ngIf="regExp.invalid">Field is required</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field style="width: 100%">
      <mat-label>OTA Code</mat-label>
      <input matInput type="number" required [(ngModel)]="rule.code" #code="ngModel">
      <mat-error *ngIf="code.invalid">Field is required</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field style="width: 100%">
      <mat-label>Priority</mat-label>
      <input matInput type="number" required [(ngModel)]="rule.priority" #priority="ngModel">
      <mat-error *ngIf="priority.invalid">Field is required</mat-error>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [disabled]="paramName.invalid || regExp.invalid || code.invalid || priority.invalid"
          (click)="onAddClick()">Add
  </button>
</div>
