<mat-toolbar>
  <span routerLink="">OTA Mapper</span>
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <a *ngIf="role === 'admin'" mat-button routerLink="/organizations">Organizations</a>
    <a *ngIf="role === 'admin'" mat-button routerLink="/user-management">User management</a>
    <a *ngIf="role" mat-button routerLink="/ota-dictionaries">OTA Dictionaries</a>
    <a *ngIf="role" mat-button routerLink="/rules">Mapping rules</a>
    <a *ngIf="role" mat-button color="accent" routerLink="/map/room-type">Map room types</a>
    <a mat-button routerLink="/documentation">Documentation</a>
    <a *ngIf="!role" mat-button routerLink="auth/login">Login</a>
    <a *ngIf="role" mat-button (click)="logout()">Logout</a>
  </div>
</mat-toolbar>
