<div class="tab-header">
  <h1>Users tab</h1>

  <button mat-raised-button color="accent" (click)="fileInput.click(); fileInput.value = ''">
    <span>Map Room type</span>
    <input #fileInput type="file" class="file-upload" style="display:none;"
           (change)="mapRoomTypeCSV($any($event.target).files)">
  </button>

  <div class="save-dictionary-block" *ngIf="mappedParametersWithUniqueValue.length>0">
    <mat-form-field>
      <input id="dictionaryName" name="dictionaryName" type="text" matInput required placeholder="Dictionary name"
             [(ngModel)]="dictionaryName" #dictName="ngModel">
      <mat-error *ngIf="dictName.invalid">Field is required</mat-error>
    </mat-form-field>
    <button type="submit" class="save-button" mat-raised-button color="primary" mat-button
            [disabled]="dictName.invalid" (click)="saveDictionary()">Save
    </button>
  </div>
  <div class="saved-dictionary-text-block" *ngIf="isDictionarySaved">
    <h3>OTA dictionary saved successfully</h3>
  </div>
</div>

<div *ngIf="mappedParametersWithUniqueValue.length > 0 && dataSource != null" class="parameters-table-block">
  <h3>Mapped parameters</h3>

  <mat-form-field appearance="standard" class="parameter-filter-field">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource"
         class="mat-elevation-z8 demo-table parameters-table">

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell *matCellDef="let element">{{element.value}}</td>
    </ng-container>

    <!-- Parameter name Column -->
    <ng-container matColumnDef="paramName">
      <th mat-header-cell *matHeaderCellDef>Parameter name</th>
      <td mat-cell *matCellDef="let element">{{element.rules[0].paramName}}</td>
    </ng-container>

    <!-- Regular expression Column -->
    <ng-container matColumnDef="regExp">
      <th mat-header-cell *matHeaderCellDef>Regular expression</th>
      <td mat-cell *matCellDef="let element">{{element.rules[0].regExp}}

      </td>
      <!--      <td mat-cell *matCellDef="let element">-->
      <!--        <mat-form-field appearance="fill">-->
      <!--          <mat-select>-->
      <!--            <mat-option *ngFor="let rule of element.rules" [value]="rule">-->
      <!--              {{rule.regExp}}-->
      <!--            </mat-option>-->
      <!--          </mat-select>-->
      <!--        </mat-form-field>-->
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="openChangeRuleDialog(element)">
          <mat-icon *ngIf="element.rules[0].regExp != ''">edit</mat-icon>
          <mat-icon *ngIf="element.rules[0].regExp === ''">add</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
